<div class="flex justify-center mt-10  text-base text-white">
    <!--Operaciones-->
    <div class="flex flex-row space-y-3  border-4 border-white-400">
        <h3>Operaciones:</h3>
        <div class="flex justify-center">
            <button class="rounded-md bg-slate-500 hover:bg-blue-500 text-white text-base" >Registrar </button>
        </div>

        <div class=" flex justify-center">
            <button class="rounded-md bg-slate-500 hover:bg-blue-500 text-white text-base" >Editar </button>
        </div>

        <div class="flex justify-center">
            <button class="rounded-md bg-slate-500 hover:bg-blue-500 text-white text-base" >Venta </button>
        </div>

        <div class="flex justify-center mb-1.5">
            <button class="rounded-md bg-slate-500 hover:bg-blue-500 text-white text-base" >Reporte </button>
        </div>
   
        <mat-card>
            <mat-card-content>
                <button class="rounded-md bg-slate-500 hover:bg-blue-500 text-white text-base" >Reporte </button>
            </mat-card-content>
          </mat-card>
    </div>
    
  </div>